/* Universal Styles */
:root {
  --text-color: #2c6d9a;
  --bg-color: #d2d8ea;
  --accent-color: #3886b4;
  --light-text: #ffffff;
  --dark-text: #111111;
  --hover-bg: #2c6d9a20; /* transparent blue hover */
}

@font-face {
  font-family: "Poppins";
  src: url("./Fonts/Poppins-Regular.woff");
}

@font-face {
  font-family: "Handwriting";
  src: url("./Fonts/EduNSWACTHandPre-VariableFont_wght.ttf");
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
    background: linear-gradient(135deg, #0f1724 0%, #071021 100%);
    padding-bottom: 70px;
}

.container {
  max-width: 100%;
}

svg {
  cursor: pointer;
}


/* Header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: linear-gradient(
    to bottom right,
    var(--accent-color) 9%,
    var(--bg-color) 80%
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  z-index: 999;
}

.logo {
  margin: 20px;
}

.logo a .logo-name {
  height: 40px;
  margin: 10px;
}

.logo a .dp {
  margin-top: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

header nav {
  width: 40%;
  position: absolute;
  right: 0;
  margin-right: 20px;
}

header nav > ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

header nav > ul > li {
  list-style-type: none;
  width: 100%;
}

header nav > ul > li > a {
  padding: 10px 20px;
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
  transition: 0.1s;
}

header nav > ul > li > a:hover {
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 1000px;
}

.active {
  background-color: var(--text-color);
  color: var(--bg-color);
  border-radius: 1000px;
}

.open-sidebar {
  display: none;
  cursor: pointer;
  fill: var(--dark-text);
}

.open-sidebar:is(:hover, :active) {
  transform: scale(1.4);
  color: var(--hover-bg);
  background-color: var(--bg-color);
}

/* aside */
aside {
  height: 65vh;
  width: 50px;
  background-color: #ffffff08;
  border: 1px solid;
  position: fixed;
  right: -100%;
  top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  z-index: 100;
  transition: 0.3s;
  box-shadow: 10px 10px 10px;
}

aside .svg-group {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 10px;
}

aside .svg-group svg {
  transition: .5s;
}

aside .svg-group .full-sidebar {
  transform: rotate(180deg);
}

aside .svg-group svg:is(:hover, :active) {
  background-color: var(--accent-color);
  fill: var(--light-text);
  transform: scale(1.5);
  border-radius: 20px;
}

aside .svg-group .full-sidebar {
  transform: rotate(180deg);
}

aside .svg-group .full-sidebar:is(:hover, :active)  {
  background-color: var(--accent-color);
  fill: var(--light-text);
  transform: scale(1.5) rotate(180deg);
}

aside .svg-group .half-sidebar {
  display: none;
}

hr {
  height: 10px;
  width: 100%;
  background-color: #ffffff08;
}

aside .nav-box {
  width: 100%;
  height: 70%;
}

aside .nav-box ul {
  width: 100%;
  display: grid;
  align-self: center;
  justify-content: center;
  grid-template-rows: auto;
  gap: 10px;
}

aside .nav-box ul li {
  width: 100%;
  list-style-type: none;
}

aside .nav-box ul li a {
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px solid var(--hover-bg);
  padding-inline: 5px;
  transition: .5s;
}

aside .nav-box ul li a:is(:hover, :active) {
  animation: grow 2s linear;
  border-bottom: none;
  border-inline: 1px solid;
  background-color: var(--accent-color);
}

aside .nav-box ul li a:is(:hover, :active) svg {
  fill: var(--dark-text);
}

aside .nav-box ul li a svg {
  fill: var(--accent-color);
  height: 28px;
  width: 28px;
}

aside nav ul li a span {
  display: none;
}

.full-sidebar-svgGroup {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.full-sidebar-svgGroup svg {
  transition: .5s;
  cursor: pointer;
}

.full-sidebar-svgGroup svg:is(:hover, :active) {
  background-color: var(--accent-color);
  fill: var(--light-text);
  transform: scale(1.3);
  border-radius: 20px;
}

.full-sidebar-navBox {
  height: 100%;
  width: 100%;
}

.full-sidebar-navBoxUl {
  height: 110%;
  display: grid;
  align-self: center;
  justify-content: center;
  grid-template-rows: auto;
  gap: 20px;
  position: relative;
  top: -30px;
}

.full-sidebar-navLink {
  width: 100%;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  color: var(--accent-color);
  text-decoration: none;
  cursor: pointer;
  border-bottom: 1px solid var(--hover-bg);
  transition: .5s;
}

.full-sidebar-navLink:is(:hover, :active) {
  transform: scale(1.1);
  background-color: var(--hover-bg);
  color: var(--light-text);
  animation: grow 2s linear;
  border-bottom: none;
  border-inline: 1px solid;
  border-radius: 1000px;
}

.full-sidebar-navIcon {
  height: 32px;
  width: 32px;

}

.full-sidebar-navText {
  letter-spacing: 5px;
}

/* home */
#home {
  color: var(--bg-color);
  padding: 20px;
}

#home .h1 {
  color: var(--text-color);
  font-size: 6rem;
  letter-spacing: 1rem;
  position: relative;
}

#home .h1::after {
  content: "";
  width: 25%;
  height: 5px;
  background: linear-gradient(
    to top right,
    var(--text-color),
    var(--accent-color),
    var(--dark-text) 50%
  );
  position: absolute;
  bottom: 15px;
  left: 0;
}

.name {
  color: var(--bg-color);
  padding: 5px;
  font-size: 2rem;
}

.name span {
  font-family: "Handwriting";
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 10px;
  color: var(--accent-color);
}

.bio {
  color: var(--bg-color);
  width: 450px;
  font-size: 2.5rem;
  text-transform: capitalize;
  line-height: 1.3;
  letter-spacing: 3px;
}

.pic {
  position: relative;
  top: -500px;
  float: right;
  height: 450px;
  width: 450px;
  border-radius: 50%;
  border: none;
  margin-inline: 50px;
  margin-block: 20px;
  z-index: 5;
  transition: 0.3s;
}

/* about */
#about {
  padding: 10px;
  width: 100%;
}

#about .h1 {
  color: var(--text-color);
  font-size: 6rem;
  letter-spacing: 1rem;
  margin-top: 15px;
  position: relative;
}

#about .h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 30%;
  height: 10px;
  border-radius: 1000px;
  background: linear-gradient(
    to top right,
    var(--text-color),
    var(--accent-color),
    var(--bg-color) 40%,
    transparent 60%
  );
}

.about-text {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 15px;
  width: 100%;
  padding: 10px;
  background: transparent;
  color: var(--accent-color);
  border: none;
  border-radius: 40px;
  box-shadow: 0 0 16px var(--text-color);
  position: relative;
  top: -150px;
}

.about-text div {
  border: none;
  border-radius: 20px;
  box-shadow: 10px 10px 10px var(--accent-color);
  text-align: center;
  height: max-content;
  border-radius: 20px;
}

.about-text .professional-background {
  grid-row: span 2;
}

.about-text > div > .heading {
  font-weight: 900;
  font-size: 20px;
  color: var(--text-color);
  text-align: center;
  position: relative;
}

.heading::after {
  content: "";
  position: absolute;
  left: 30%;
  top: 1.8rem;
  height: 3px;
  width: 150px;
  background: linear-gradient(
    to top right,
    var(--text-color),
    var(--accent-color),
    var(--bg-color) 40%
  );
}

.lg::after {
  left: 44%;
}

span.intro,
.outro {
  text-align: center;
}

ol > li > strong {
  font-weight: 700;
}

.about-text .conclusion {
  grid-column: span 3;
  height: max-content;
}

/*Skills*/

#skills {
  padding: 20px;
}

#skills .h1 {
  position: relative;
  left: 35%;
  color: var(--text-color);
  font-size: 6rem;
  letter-spacing: 1rem;
}

#skills .h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 30%;
  height: 5px;
  background: linear-gradient(
    to top right,
    var(--text-color),
    var(--accent-color),
    var(--bg-color) 50%
  );
}


.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.skill-box {
  background-color: var(--bg-color);
  border-radius: 10px;
  padding: 20px;
  transition: 0.3s all ease;
  cursor: pointer;
  box-shadow: 0 0 10px var(--text-color);
}

.skill-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px var(--accent-color);
}

.skills-container:hover .skill-box:not(:hover) {
  transform: scale(.8);
  opacity: 0.6;
}

.skill-title {
  color: var(--text-color);
  font-size: 1.5rem;
}

.skill-description {
  color: var(--accent-color);
}

#skills svg {
  float: right;
  fill: var(--accent-color);
  transition: .3s;
}

#skills svg:hover {
  transform: scale(2);
}

#projects {
  padding: 20px;
}

#projects .h1 {
  position: relative;
  left: 30%;
  margin-top: 20px;
  color: var(--text-color);
  font-size: 6rem;
  letter-spacing: 1rem;
}

#projects .h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 46%;
  height: 5px;
  background: linear-gradient(
    to top right,
    var(--text-color),
    var(--accent-color),
    var(--bg-color) 50%
  );
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.project-card {
  background-color: var(--text-color);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 16px var(--text-color);
  transition: 0.3s all ease;
  cursor: pointer;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px var(--accent-color);
}

.project-card:hover .project-description {
  color: var(--bg-color);
}

.project-card:hover .project-title {
  color: var(--dark-text);
}

.project-title {
  color: var(--bg-color);
  font-size: 1.5rem;
}

.project-description {
  color: var(--dark-text);
  margin-top: 10px;
}

.project-description ul {
  list-style: none;
}

.project-description ul li::before {
  content: "\2022";
  color: blue;
  padding-right: 10px;
}

.btn-group {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.btn-group button {
  border: none;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px 15px;
  border-radius: 1000px;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.3s;
  letter-spacing: 2px;
  cursor: pointer;
}

.btn-group button:hover,
.btn-group button a:hover {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

.btn-group button:hover {
  border: 3px solid var(--bg-color);
}

.btn-group:hover button:not(:hover) {
  transform: scale(0.5);
}

.btn-group button a {
  text-decoration: none;
  color: var(--text-color);
  background: transparent;
}

/* contact */
#contact {
}

#contact .h1 {
  position: relative;
  left: 15%;
  margin-top: 20px;
  color: var(--text-color);
  font-size: 6rem;
  letter-spacing: 1rem;
}

#contact .h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 55%;
  height: 5px;
  background: linear-gradient(
    to top right,
    var(--text-color),
    var(--accent-color),
    var(--bg-color) 50%
  );
}

.contact {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.contact div button {
  padding: 5px 20px;
  border: none;
  border-radius: 1000px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  position: relative;
  transition: 0.5s;
}

.contact div button::after {
  content: "";
  height: 102%;
  width: 107%;
  position: absolute;
  left: 0;
  background: linear-gradient(
      to top left,
      var(--text-color),
      var(--accent-color),
      var(--bg-color) 2%
    ),
    linear-gradient(
      to bottom right,
      var(--text-color),
      var(--accent-color),
      var(--bg-color) 40%
    );
  background-blend-mode: multiply;
  border-radius: 1000px;
  z-index: -1;
}


.contact div button:hover {
  z-index: 0;
}

.contact div button a svg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  fill: var(--text-color);
}

.contact div button a {
  text-decoration: none;
}

.contact div button a span {
  transform: translateY(50%);
  font-size: 2rem;
  color: var(--text-color);
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 700px;
  flex-direction: column;
  border: 3px solid var(--bg-color);
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
}

form h2 {
  font-weight: 900;
  color: var(--text-color);
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 5px;
}

form .form-group {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

form .form-group .sender {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

form input,
form textarea {
  border-radius: 10px;
  border: none;
  outline: none;
}

form input::placeholder,
form textarea::placeholder {
  /* use same font-family name as the @font-face declaration */
  font-family: "Handwriting";
  color: var(--accent-color);
  letter-spacing: .5rem;
}

form input:valid {
  border: none;
  border-bottom: 1px solid var(--accent-color);
  border-radius: 0;
  background: transparent;
  color: var(--light-text);
  padding: 5px;
}

form textarea:valid {
  background: transparent;
  border: 1px solid var(--accent-color);
  color: var(--light-text);
}

form input {
  height: 30px;
  width: 300px;
  padding: 20px;
  border-radius: 1000px;
}

form textarea {
  padding: 20px;
}

form .submit-btn {
  padding: 10px 20px;
  border-radius: 1000px;
  background-color: var(--bg-color);
  border: none;
  color: var(--text-color);
  transition: 0.5s;
}

form .submit-btn:hover {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

.success {
  color: green;
  margin: 15px 0;
  padding: 10px;
  background: #f0fff0;
  border: 1px solid #a0d8a0;
}

.error {
  color: red;
  margin: 15px 0;
  padding: 10px;
  background: #fff0f0;
  border: 1px solid #ffb0b0;
}

/*footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  background: linear-gradient(
    180deg,
    var(--accent-color) 9%,
    var(--bg-color) 80%
  );
  z-index: 999;
  color: var(--text-color);
  font-weight: 500;
}

.footer-name {
  font-family: "Handwriting";
  color: var(--bg-color);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 5px;
}


/* Media Queries */
@media screen and (max-width: 768px) {
  /* header */
  header nav {
    display: none;
  }

  .open-sidebar {
    display: block;
    margin-inline: 20px;
  }

  #home .h1, #about .h1, #skills .h1, #projects .h1, #contact .h1 {
    font-size: 4rem;
    letter-spacing: 0.6rem;
  }

  .name span {
    width: 20px;
    height: 100px;
    font-size: 2.4rem;
    font-weight: 700;
  }

  .pic {
    height: 250px;
    width: 250px;
    margin: 5px;
    top: -350px;
    right: 100px;
  }
  
}

@media screen and  (max-width: 426px) {

}
