body {
    font-size: 15pt;
    font-family: 'Poppins';
    min-height: 100dvh;
    background-image: url("/Images/Screenshot_2025-06-11-10-49-41-043_com.facebook.katana~4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vh;
    color: var(--text-color);
}

h1 {
    font-size: 5rem;
    text-align: center;
}

.welcome {
    font-size: 20px;
    font-weight: 500;
}

form {
    background: transparent;
    position: relative;
    transform: translate(-50%);
    top: 50vw;
    left: 50vw;
    width: 70vw;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid var(--bg-color);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 5px 20px var(--text-color);
}

.input-group {
    position: relative;
    margin: 10px 0;
}

.input-group label {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 34px;
    padding: 0 5px;
    transition: .5s;
}

.input-group input {
    width: 360px;
    height: 50px;
    padding: 5px 10px 0 30px;
    outline: none;
    border: none;
    border-bottom: 1.2px solid var(--accent-color);
    font-size: 24px;
    margin-left: 5px;
    background: transparent;
    color: var(--accent-color);
}

.input-group input:focus ~ label,
.input-group input:valid ~ label{
    top: 0;
    background-color: var(--bg-color);
    color: var(--accent-color);
    border-radius: 5px;
}

.input-group svg {
    position: absolute;
    fill: #2C6D9A;
    height: 30px;
    width: 30px;
    left: 0;
    transform: translateY(40%);
}

.pwd-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pwd-action .show-pwd-group {
    transform: translate(-10%, -100%);
}

.pwd-action a {
    transform: translate(20%, -100%);
}

form a,
form a:active,
form a:visited {
    text-decoration: none;
    color: inherit;
}

.submit-btn {
    padding: 10px 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 1000px;
    background: var(--bg-color);
    position: relative;
    color: var(--text-color);
    cursor: pointer;
    transition: .5s;
}

.submit-btn:is(:hover, :focus) {
    z-index: 0;
    color: var(--bg-color);
}

.submit-btn::after {
    content: '';
    position: absolute;
    background: linear-gradient(
        135deg,
        var(--text-color),
        var(--accent-color),
        var(--bg-color)
    );
    height: 102%;
    width: 107%;
    border-radius: 1000px;
    top: 0;
    left: 0;
    color: var(--bg-color);
    z-index: -1;
}

.alternative {
    position: relative;
    margin: 20px 10px 100px 10px;
}


.alternative hr {
    background-color: var(--bg-color);
    width: 360px;
    height: 3px;
}

.alternative .text {
    position: absolute;
    top: -15px;
    background-color: var(--bg-color);
    color: var(--text-color);
    left: 40%;
    padding: 5px 15px;
    border-radius: 1000px;
}

.icons {
    position: absolute;
    top: 10px;
    left: 5%;
    width: 300px;
    height: 100px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.icons a svg {
    height: 30px;
    width: 30px;
    fill: var(--text-color);
    border: none;
    border-radius: 50%;
    transition: .5s;
}

.icons svg:hover {
    fill: var(--bg-color);
    background-color: var(--text-color);
    padding: 10px;
    height: 50px;
    width: 50px;
}