* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to top right, #388dd3cc, #30ffdcb2);
}

.container {
    height: 100%;
    width: 30%;
    background: linear-gradient(to bottom left, #388dd3cc, #30ffdcb2);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.display, .equal-display {
    width: 100%;
    height: 20%;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    outline: none;
    border-radius: 50px;
    border: none;
    text-align: right;
    padding-right: 50px;
    overflow-x: auto;
    color: #003eb1cc;
    overflow: scroll;
}

.keys {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.key, .equal-btn {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    background-color: #3c7ef831;
    font-size: 20px;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
}

.key:hover:not(.operator, .last, .last-row) {
    filter: brightness(40);
}

.operator {
    background-color: aliceblue;
    color: #003eb1cc;
}

.last-row, .last {
    color: #58f3d9;
    background-color: #fff;
    
}

.footer{
    text-align: center;
    font-size: 70px;
    padding: 10px;
    font-family: cursive, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 20px;
    margin: 5px;
    transform: rotate(70deg);
    position: absolute;
    left: -100px;
    box-shadow: #14eedcc5 10px 10px 2px 2px, rgba(28, 240, 123, 0.979) -15px -15px 2px 2px, rgb(2, 255, 242) -20px -20px 10px 4px, rgb(2, 255, 242) 20px 20px 2px 2px;
}

.footer:nth-of-type(2) {
    position: relative;
    left: 400px;
    bottom: 285px;
    transform: rotate(-70deg);
}